@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

#home {
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   /* background: url(../images/pexels-romario-roges-9582925.jpg); 
    background-position-x: center;   
    background-size: cover; */
    animation: animateBg 50s linear infinite; 
    overflow: hidden;  
}

#tsparticles {
    position:absolute;
}


@keyframes animateBg {
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1);
    }
}


.container.home__container {
    width: 50%;  
    position:relative;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
}

.container.home__container > p {
    position:relative;
    font-weight: 500;
    font-size: 40px;
    color: var(--color-white);
    font-family: 'Square Peg', cursive;
    margin-left:auto;
    margin-right:auto;
    margin-top:35%;
}

.container.home__container > h3 {
    position: relative;
    font-weight: 300;
    font-size: 3rem;
    font-family: 'Square Peg', cursive;
    margin-left:auto;
    margin-right:auto;
    margin-top:35%;
}



.menu-direction {
   position: relative;
   margin-left:auto;
   margin-right:auto;
}

.my-logo {
    width: 15%;
    transform: rotate(-30deg);
    position: fixed;
}

.myname {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-white);
    font-family: 'Square Peg', cursive;
    margin-left: 1rem;
}

/* MEDIA QUERIES - MEDIUM DEVICES */
@media screen and (max-width: 1024px) {

    .container.home__container {
        margin-top: 5%;
    }

 } 
 
 /* MEDIA QUERIES - SMALLER DEVICES */
 @media screen and (max-width: 540px) {

    .container.home__container {
        margin-top: 0%;
    }

   

} 

 /* MEDIA QUERIES - SMALL DEVICES */
 @media screen and (max-width: 390px) {

    .container.home__container {
        margin-top: -5%;
    }


    .container.home__container > p {
        font-size: 2rem;
    }

    .container.home__container > h3 {
        font-size: 2rem;
    }

   
}

/* MEDIA QUERIES - SMALLEST DEVICES */
@media screen and (max-width: 280px) {

    .container.home__container {
        margin-top: -23%;
    }

}

/* MEDIA QUERIES - IPAD MINI DEVICES */
@media screen and (device-width: 1024px) {

    .container.home__container {
        margin-top: 0%;
    }

 } 

 /* MEDIA QUERIES - Nest Hub DEVICES */
@media screen and (device-width: 1024px) and (device-height: 600px) {

    .container.home__container {
        margin-top: -5%;
    }


    .container.home__container > p {
        font-size: 2rem;
    }

    .container.home__container > h3 {
        font-size: 2rem;
    }

   
 } 