nav {
  /*background : rgba(67, 199, 243, 0.362); */
  background : rgba(215, 51, 128, 0.362);
  width: max-content; 
  display:block;
  padding: 0.7rem 1.7rem;
  top: 90%;
  z-index: 2;
  position:fixed; 
  left: 50%;
  transform: translateX(-50%); 
  display:flex;
  gap : 0.8rem;
  border-radius: 3rem;
  /*backdrop-filter: blur(15px);*/
}

nav a {
    background: transparent;
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.1rem;
}

nav a:hover {
    background: var(--color-gray);
}


nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}


/* MEDIA QUERIES - Ipad */
@media screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    nav {
        top: calc(100% * 0.65);
    }
}

/* MEDIA QUERIES - Ipad */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    nav {
        top: calc(100% * 0.75);
    }
}

/* MEDIA QUERIES - Surface Pro 7 */
@media screen and (device-width: 912px)  {
    nav {
        top: calc(100% * 0.58);
    }
}