.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.skills__container > div {
    background: var(--color-gray);
    padding: 0rem 0rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.skills__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.skills__title {
    background-color: var(--color-bg-variant); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1.5rem;
    font-size: 23px;
    flex-grow:0;
    flex-shrink:0;
    flex-basis: 180px; 
}

.skills__content {
    display: flex;
    flex-direction: row;
}

div {
    padding: 0.3rem; 
    margin: 0rem;
}

.skills__details {
    display: inline-flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 64px; 
    padding-left: 1rem;

}

.skills__details img {
   height: 45px;
   width: 45px;
   object-fit: cover;
}

.skills__details small {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

/* MEDIA QUERIES - MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: 1fr; 
        gap:0;
    }

    .skills__container > div {
        margin-left: -0.5rem;
    }
  
    .skills__content {
        width: 95%;
        margin: 0rem auto;
    }

   
    .skills__details {
        width: 45px; 
        padding-left: 1rem;
    }

    .skills__title {
        font-size: 10px;
        flex-basis: 60px; 
        overflow: hidden;
        white-space:nowrap;
    }
   
 }
 
 /* MEDIA QUERIES - SMALL DEVICES */
 @media screen and (max-width: 600px) {
    .skills__container {
        grid-template-columns: 1fr;
        gap:0;
    }

    .skills__content {
        width: 100%;
        margin: 0rem auto;
    }

   
    .skills__details {
        width: 45px; 
        padding-left: 1rem;
    }

    .skills__title {
        font-size: 8px;
        flex-basis: 20px; 
        overflow: hidden;
        white-space:nowrap;
    }
   
}
